html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
  
  .body {
    overflow-x: hidden;
  }
  
  .wrapper {
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .wrapper-content {
    position: relative;
    display: flex;
    max-width: 1480px;
    margin: 0 auto;
  }
  
  .header {
    background-color: #2a8086;
    color: #c5e1e5;
    box-shadow: 0px 1px 10px rgb(18 87 91 / 25%);
  }
  
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(84px + 2 * 13px);
  }
  .header__nav {
    display: flex;
    align-items: center;
    gap: 52px;
  }
  .header__title {
    position: absolute;
    visibility: hidden;
  }
  .nav__region {
    display: flex;
    gap: 52px;
    list-style: none;
  }
  
  .nav__item {
    position: relative;
  }
  .nav__link {
    color: inherit;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    transition-duration: 0.3s;
  }
  .nav__link::after {
    content: "";
    width: 0px;
    height: 2px;
    display: block;
    background: white;
    transition: inherit;
  }
  .nav__link:not(.nav__link_selected):hover {
    color: white;
  }
  .nav__link:not(.nav__link_selected):hover::after {
    width: 100%;
  }
  
  .nav__link_selected {
    pointer-events: none;
  }
  
  .nav__link_selected::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    background-color: #c5e1e6;
  }
  
  .button {
    padding: 15px;
    background-color: inherit;
    border: 1px solid;
    border-radius: 100px;
    color: inherit;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
  }
  /*
    .button:hover {
      background-color: #0d444d11;
      outline: none;
    }
    .button:focus {
      color: #0d444d99;
      outline: none;
    }
    .button:active {
      color: #0d444d;
      outline: none;
    }
    */
  /* .button:focus {
      outline-style: dotted;
    } */
  .header__button {
    font-family: "Roboto", sans-serif;
    padding-top: 16px;
    transition: 0.3s;
  }
  .header__button:hover {
    color: #ffffff;
  }
  
  .header__button_val_log-in {
    border: none;
  }
  
  .header__user-panel {
    display: flex;
    align-items: center;
    right: 0;
  }
  .search {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .search__input {
    display: inline-block;
    width: 0;
    padding: 0;
    margin-right: 3px;
    background-color: #c5e1e6;
    border: 0;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    transition: 0.5s;
  }
  
  .search__label {
    width: 32px;
    height: 32px;
    background-image: url("../assets/icons/search.svg");
    cursor: pointer;
  }
  .search:hover .search__input {
    width: 150px;
    padding: 6px 5px;
  }
  .search__input:focus {
    width: 150px;
    padding: 6px 5px;
    outline: none;
  }
  
  .footer {
    background-color: #196469;
    color: #c5e1e5;
  }
  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(84px + 2 * 58px);
  }
  .footer__nav {
    display: flex;
    align-items: center;
    gap: 52px;
  }
  
  .footer__copyright {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;
  }
  .footer__copyright-text {
    margin: 10px 0;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    margin-top: 40px;
    margin-right: 50px;
    position: sticky;
    top: 30px;
  }
  .sidebar__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 105px;
    height: 131px;
    padding: 16px 0;
  }
  .sidebar__card_photo-wrap {
    position: relative;
    width: 76px;
    height: 74px;
    margin-bottom: 9px;
    clip-path: path(
      "M52.3634 66.2422L52.3625 66.2426C42.6079 71.353 31.6849 74.9978 22.4409 71.8232L22.4389 71.8225C13.1919 68.7067 5.44283 58.8433 2.10629 47.1001C-1.16887 35.3578 0.000248415 21.8489 6.98486 13.0163C14.0321 4.12084 26.9009 -0.239575 39.0852 0.425826C51.1978 1.09062 62.5033 6.71126 69.0213 15.4431C75.5448 24.2434 77.3487 36.2349 73.9762 45.4295C70.6068 54.6159 62.1663 61.1384 52.3634 66.2422Z"
    );
    overflow: hidden;
    transition: transform 0.4s;
  }
  
  .sidebar__card_photo {
    transition: transform 0.4s;
  }
  .sidebar__card_photo-wrap:hover {
    transform: rotate(360deg);
  }
  .sidebar__card_photo-wrap:hover .sidebar__card_photo {
    transform: rotate(-360deg);
  }
  .sidebar__card_photo-pand {
    position: absolute;
    width: 112px;
    height: 74px;
    top: calc((74px - 74px) / -2);
    left: calc((112px - 76px) / -2);
    background-image: url("../assets/images/panda-small.png");
  }
  .sidebar__card_photo-eagl {
    position: absolute;
    width: 176px;
    height: 116px;
    top: calc((116px - 74px) / -2);
    left: calc((176px - 76px) / -2);
    background-image: url("../assets/images/eagle-small.png");
  }
  .sidebar__card_photo-gorl {
    position: absolute;
    width: 126px;
    height: 86px;
    top: calc((86px - 74px) / -2);
    left: calc((126px - 76px) / -2);
    background-image: url("../assets/images/gorilla-small.png");
  }
  .sidebar__card_photo-alig {
    position: absolute;
    width: 136px;
    height: 91px;
    top: calc((91px - 74px) / -2);
    left: calc((136px - 76px) / -2);
    background-image: url("../assets/images/aligator-small.png");
  }
  
  .sidebar__card-descr {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #2d2d2d;
  }
  
  .wrapper-main {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 100%;
    margin-top: 50px;
  }
  
  .title {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .title__icon-bar {
    display: flex;
    gap: 34px;
  }
  .title__icon {
    width: 42px;
    height: 42px;
    border: 1.5px solid;
    border-radius: 50%;
    color: #19707d;
    cursor: pointer;
    transition: 0.3s;
  }
  .title__icon:hover {
    filter: drop-shadow(1px 1px 3px #0d444d);
    /* box-shadow: 0px 1px 2px #00000055; */
    background-color: #f3f7f8;
  }
  .title__icon_inf {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;
  }
  .title__icon_follow {
    background-image: url("../assets/icons/pet__heart.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .subtitle {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }
  
  .subtitle_color_black {
    color: #0d444d;
  }
  
  .subtitle_color_white {
    color: #c5e1e6;
  }
  
  .section-camera {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #19707d;
  }
  .main-cameras {
    margin-top: 24px;
    margin-bottom: 56px;
  }
  .side-cameras {
    margin-top: 56px;
    margin-bottom: 97px;
  }
  .section-camera__title {
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
  }
  .section-camera__cameras-bar {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .section-camera__main-camera {
    width: 100%;
    height: 604px;
    border-radius: 20px;
  }
  .section-camera__side-camera {
    width: 380px;
    height: 240px;
    border-radius: 18px;
    pointer-events: none;
  }
  .swipe__right {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-image: url("../assets/icons/pet__swipe.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.3s;
  }
  .swipe__left {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-image: url("../assets/icons/pet__swipe.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.3s;
  
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .swipe__right:hover,
  .swipe__left:hover {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
  }
  
  .zoos-descr {
    margin-top: 97px;
    /* margin-bottom: 17px; */
    display: grid;
    grid-template-columns: 604px 604px;
    column-gap: 70px;
    color: #0d444d;
  }
  .zoos-info__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  .zoos-info__point {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .zoos-info__point_type_title {
    font-size: 16px;
    line-height: 19px;
  }
  .zoos-info__point_type_text {
    max-width: 528px;
    font-size: 14px;
    line-height: 20px;
    color: inherit;
  }
  .zoos-facts__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .zoos-facts__point {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  .zoos-facts__point_type_text {
    max-width: 574px;
    font-size: 14px;
    line-height: 20px;
    color: inherit;
  }
  
  .section-donate {
    position: relative;
    /* left: calc(100% / 2 - 1920px / 2); */
    /* width: 1920px; */
    padding-top: 313px;
    padding-bottom: 62px;
  }
  .donate__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(-155px + 1480px / 2 - 356px / 2);
    width: 356px;
    height: 52px;
    letter-spacing: -0.05em;
    background: #c5e1e6;
    border-color: transparent;
    filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 0.6));
  }
  .donate__bg {
    position: absolute;
    width: 1920px;
    height: 566px;
    top: 8px;
    left: -375px;
    /* left: -359px; */
    background-image: url("../assets/images/bg-how-work.svg");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    z-index: -1;
  }
  .donate__bg-panda {
    position: absolute;
    width: 169px;
    height: 155px;
    top: 113px;
    /* left: calc(50% - 34px); */
    left: calc(50% - 20px);
    background-image: url("../assets/icons/how-work__panda.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .donate__bg-bamboo-mid {
    position: absolute;
    width: 148px;
    height: 280px;
    top: 0;
    left: calc(50% + 55px);
    left: calc(50% + 70px);
    background-image: url("../assets/icons/how-work__bamboo-mid.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .donate__bg-tree-left {
    position: absolute;
    width: 131px;
    height: 230px;
    top: 40px;
    /* left: 369px; */
    left: 384px;
    background-image: url("../assets/icons/how-work__tree-left.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .donate__bg-tree-right {
    position: absolute;
    width: 131px;
    height: 230px;
    top: 154px;
    /* right: 113px; */
    right: 97px;
    background-image: url("../assets/icons/how-work__tree-right.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  